.gameboostBoosting {
    animation: gameboostBoosting 2s ease-in-out infinite;
    animation-iteration-count: 1;
}

@keyframes gameboostBoosting {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
