@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #6B7280;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
}

.role-image {
    filter: invert(32%) sepia(23%) saturate(357%) hue-rotate(176deg) brightness(92%) contrast(91%);
}

.dark .role-image {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
