@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #6B7280;
}