.patchOverviewImage {
    object-fit: cover;
    object-position: center;
    filter: saturate(0) opacity(0.3);
    transition: filter ease-out 500ms, transform ease-out 500ms;
}

.patchOverviewImage:hover {
    filter: none;
    transform: scale(1.05);
}
